/* --RESET STYLES--- */
@import url("reset.css");

body{
    background-color: #1e1d1e;
    color: #8c8c8c;
    
}
/* .navigation {
} */
/* .nav-logo {
} */
.header-text {
    color: #ff0000;
}
.navigation .second {
    color: #ffc000;
}
a:hover{
    color: #ffc000;
}
/* .nav-link {
} */
/* .nav-main {
} */
/* .main-logo {
} */
h2.header-text{
    color: #8c8c8c;
}
.main-text>.accent {
    color: #ff0000;
}
.header-text.warning{
    color: #ff6600;
}
p ~.options{
    color: #99cc00;
}
.link-text{
    color: #99cc00;
}
.hr {
    background-color: #a67b31;; 
    height: 2px;
    
}
.header-text.why{
    color: #ffcc00;
}
 h3{
    color: #ff9900;
}
.hello {
    color: #ff0000;
}
footer span {
    color: #ff6600;
}