/* --RESET STYLES--- */
@import url("reset.css");

.navigation {
}
.nav-logo {
}
.header-text {
}
.nav-text {
}
.second {
}
.nav-link {
}
.nav-main {
}
.main-logo {
}
.text {
}
.main-text {
}
.hr {
    color: #690c0c; 
    width: 1200px;
    padding: 1px;
}
.hello {
}
.footer-text {
}